bayesian-optimization==1.2.0
captum==0.5.0
coral-pytorch==1.4.0
dask==2022.9.1
focal-loss-pytorch==0.0.3
focal-loss-torch==0.1.0
h5py==3.7.0
hydra-core==1.2.0
jupyterlab==3.4.7
matplotlib==3.6.0
numpy==1.22.3
pacmap==0.6.5
pandas==1.4.4
performer-pytorch==1.1.4
torch==1.12.1
pytorch-lightning==1.7.6
scikit-learn==1.1.2
scikit-optimize==0.9.0
scipy==1.9.1
seaborn==0.12.0
statsmodels==0.13.2
tensorboard==2.9.1
torchmetrics==0.10.0
umap==0.1.1
pyarrow==18.0.0